<div class="h-full bg-black flex flex-col ">
    <div class="chat-nav min-h-[4.5rem] bg-[#131313] flex items-center px-6" >
        <div class="dp h-10 w-10 rounded-full overflow-hidden">
            <img src="../../../assets/images/dp.jpg" alt="">
        </div>   
        <div class="chat-detail text-white ml-4 ">
            <p class="font-bold">Saudgar Ansar</p>
            <p class="text-xs">Online</p>
        </div>     
    </div>
    <div #scrollMe class="chat-section overflow-scroll flex-grow">
        <app-chat-section></app-chat-section>
    </div>
</div>
