<div class="bg-[#131313] h-full">
    <div class="all-chat-nav h-[4.5rem] flex items-center justify-between px-6" >
        <div class="dp h-10 w-10 rounded-full overflow-hidden">
            <img src="../../../assets/images/dp.jpg" alt="">
        </div>        
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="more_vert" style="color: white;"></mat-icon>
    </div>
    <div class="chat-search w-[90%] m-auto">
        <input type="text" class="bg-black h-10 rounded-3xl w-full">
    </div>
</div>
